.profile-form {
    display: flex;
    flex-direction: column;
}

form{
    padding: 0px 60px;
    border-radius: 10px;
}
.profile-form label{
    font-size: 1rem;
    color:black;
    font-weight: bold;
}
input{
    padding:15px;
    width:100%;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}
select {
    padding:15px;
    width:100%;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}


label{
    font-size: 12px;
    color: gray;
}

.form-span{
    font-size: 12px;
    padding: 3px;
    color: red;
}
.profile-form button {
    
        height: 50px;
        padding: 10px;
        border: none;
        background-color: rgb(27, 85, 5);
        color: white;
        border-radius: 5px;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        margin-top: 15px;
        margin-bottom: 30px;
        margin-left:80%;
    
}